# Insert your housing's QR
QR_CODE_VALUE=

# KKN coordinate
KKN_LOCATION_LATITUDE=-7.9347226
KKN_LOCATION_LONGITUDE=119.1788225
KKN_LOCATION_RADIUS_METERS=100 # Radius in meters for random point generation

# NOTE:
# So it turns out you can help others to check in using a valid access_token as the
# API only checks the validity of the access token. So, essentially, you can help
# your friends to check in without needing their password
#
# A comma separated value for multiple usernames
USERNAMES=

# Your simaster username and password (Optional)
SIMASTER_USERNAME=
SIMASTER_PASSWORD=

# Your Gemini API Key
GEMINI_API_KEY=
